
@import
	'reset'
;

$font-stack: 'Helvetica Neue', Helvetica, 'Arial', sans-serif;
$theme: rgb(255, 219, 58);
$bg-color: #F5F5F5;

$brand: #1d222d;
$paleblue: #bbedfa;
$blue: #6fccfa;

body {
	background-color: $bg-color;
}

a {
	color: #000;
}


#body-container {
	width: 100%;
	max-width: 600px;
	margin: 20px auto;

}

.button {
	padding: 9px 15px;
	background-color: $paleblue;
	text-decoration: none;
	letter-spacing: 1px;
	font-size: 16px;
	font-weight: bold;
}

.heading {
	display: block;
	font-size: 22px;
	font-weight: normal;
	margin-top: 0;
	strong{
		font-weight: bold;
	}
}

.wrap-container {
	border: 5px solid $blue;
	padding: 15px;
}
/* **********************

	Preheader

 ********************** */




#template-preheader {
	td {
		padding: 13px;
		font-family: $font-stack;
		color: #606060;
		font-size: 13px;
		text-align: center;
	}
}

#notice-header {
	background-color: #f3f3f3;
	color: $brand;
	p {
		color: #707378;
		padding: 5px;
		margin: 0;
		line-height: 18px;
		a {
			color: #707378;
		}
	}
}

#brand-header {
	background-color: $brand;
}

#logo {
	max-width: 130px;
}




/* **********************

	Main Content

 ********************** */

#template-content {
	background-color: #fff;
	box-shadow: 2px 2px 3px rgba(150, 150, 150, 0.2)
}



#template-content-header {
	text-align: center;
	position: relative;
	td {
		background-image: url(images/header_img.png);
		background-size: cover;
		padding: 20px 15px;
		font-family: $font-stack;
		padding: 50px
	}
}

#template-content-body {
	text-align: center;
	position: relative;
	.wrap-container{
		margin-left: 20px;
		margin-right: 20px;
	}
	td {
		// background-image:  url(images/header_img.png);
		background-size: cover;
		padding: 20px 15px;
		font-family: $font-stack;
		padding: 0px
	}
}

.email-title {
	line-height:120%;
	color: #000;
	font-size: 24px;
	font-weight: 700;
	text-decoration: none;
}
.email-subtitle {
	font-size: 16px;
}

#content-fourth {
	background-image: url("images/img_2.png");
	td {
		padding: 50px;
	}
	.heading, p {
		color: #fff;
	}
}

.euro {
	img {
		display: block;
		width: 200px;
		margin: 0 auto;
	}
}


/* */

#template-content-content {
	width: 90%;
	max-width: 560px;
	text-align: left;
	font-family: $font-stack;
	font-weight: 400;
	font-size: 16px;
	line-height:150%;
	margin: 30px 0;

}


/* */

#template-content-footer {

	tr {
		background-color: rgb(240, 240, 240);
	}

	td {
		padding: 20px 15px;
		font-family: $font-stack;
		font-weight: 400;
		line-height:125%;
		font-size: 15px;
	}
}




/* **********************

	Footer

 ********************** */

#socialmedia {
	td {}
	img {
		width: 30px;
	}
}


#template-footer {

	td {
		font-family: $font-stack;
		color: #606060;
		font-size: 11px;
		line-height: 150%;
		text-align:center;
		padding: 30px 10px 20px;
	}

	p {
		display: block;
		margin-bottom: 15px;
	}
}
